<!DOCTYPE html>

<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='source.js') }}"></script>
        <script src="https://cdn.socket.io/4.5.4/socket.io.js"></script>
	    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" />
      <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">  
      <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>DiscoClip</title>
    </head>
    <body>
  <div class="container">
      <div style="margin:auto; width:100%; margin-top: 10px;">
          <h1 class="name" >DiscoClip</h1>
          <p id="title-header" class="titles" align="center" ></p>
          <p id="subtitle-header" class="subtitles" align="center"></p>  
      </div>

      <div><br></div>
      <!-- IO Panel -->
      <div class="btn-group center" style="width: 100%; margin:auto;">

          <div class="form-check-inline form-switch">
            <input class="form-check-input custom-check" type="checkbox" id="discord-io-switch">
            <label class="form-check-label" for="discord-io-switch" style="margin-left: 8px;color:#966fd6">Discord Bot I/O</label>
          </div>

          <div class="form-check-inline form-switch"> 
            <input class="form-check-input custom-check" type="checkbox" id="server-io-switch">
            <label class="form-check-label" for="server-io-switch" style="margin-left: 8px;color:#966fd6">Webserver I/O</label>
          </div>
      </div>        


      <!-- CONSOLE -->
      <div style="margin-top: 15px; width: 100%">
        <div class="card3" style="position: relative;margin:auto">
          <p class="status-bar"  name="status" id="status-box" style="color:#966fd6;">Current Status</p>
          <button class="config-btn"  name = "set-values-tab" id="set-values-tab" value = "set-values" data-bs-toggle="offcanvas" data-bs-target="#offcanvas, #set-values" type="button" role="tab" aria-controls="set-values" aria-selected="true" style="background-color:#16191d;color:#966fd6;">Config</button>
        </div>
        <textarea class="card3" id='console' rows="24" cols="auto" readonly spellcheck="false" style = "background-color: #16191d; color:#966fd6; padding:10px; font-size: small; width: 100%; border-color: transparent;"></textarea>
      </div>
      <div><br></div>
      
       <!-- Off Canvas Form -->
    <div class="offcanvas offcanvas-bottom offcanvas-custom" tabindex="-1" data-bs-backdrop="false" id="offcanvas" aria-labelledby="offcanvasLabel">
      <div class="offcanvas-header" style = "background-color: #23292f; color:#966fd6">
        <h5 class="offcanvas-title" id="offcanvasLabel">Configuration</h5>
        <button type="button" id="close-form" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      
      <div id="config-body" class="offcanvas-body" style = "background-color: #16191d; color:#966fd6; padding:10px; font-size: small;">
        
        <div class="input-group mb-3">
          <div class="form-text">
            Before we start, fill in the below configuration.
          </div>
        </div>

        <!-- Form Container-->
        <div id="config-container">

        </div>
        <div class="d-grid gap-2">
          <button id="cred-save-button" name="save-button" class="btn btn-primary purple-buttons" type="button">Save</button>
        </div>
        <div class="input-group mb-3">
          <div class="form-text">
            More Info: <a href="https://github.com/nickheyer/DiscoClip">GitHub</a>
          </div>
        </div>
       

        
      </div>
    </div>
  </div>

    </body>
</html>